{% extends 'dashboard/index.html.twig' %}

{% block title %}Expenses | {{ parent() }}{% endblock %}

{% block main %}

    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <a
                            href="{{ path('add_expense') }}"
                            class="inline-block rounded bg-blue-400 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white">
                        Add Expense
                    </a>
                    <table class="min-w-full text-left text-sm font-light">
                        <thead class="border-b font-medium dark:border-neutral-500">
                        <tr>
                            <th scope="col" class="px-6 py-4">#</th>
                            <th scope="col" class="px-6 py-4">Transaction Type</th>
                            <th scope="col" class="px-6 py-4">Comment</th>
                            <th scope="col" class="px-6 py-4">Bank</th>
                            <th scope="col" class="px-6 py-4">Amount (PKR)</th>
                            <th scope="col" class="px-6 py-4">Category</th>
                            <th scope="col" class="px-6 py-4">Date</th>
                            <th scope="col" class="px-6 py-4 text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for expense in expenses %}
                            <tr class="border-b dark:border-neutral-500">
                                <td class="whitespace-nowrap px-6 py-4 font-medium">{{ loop.index }}</td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">{{ expense.transactionType }}</td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">{{ expense.comment }}</td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">{{ expense.bank }}</td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">{{ expense.amount }}</td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">{{ expense.category.name | default('undefined' | capitalize) }}</td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">{{ (expense.transactionDate) ? expense.transactionDate | date('d/m/Y') : '' }}</td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium flex justify-end gap-1">
                                    {#<a
                                            href="{{ path('single_expense', {'id': expense.id}) }}"
                                            class="inline-block rounded bg-blue-400 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white">
                                        View
                                    </a>#}
                                    <a
                                            href="{{ path('edit_expense', {'id': expense.id}) }}"
                                            class="inline-block rounded bg-blue-400 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white">
                                        Edit
                                    </a>
                                    <form action="{{ path('delete_expense', {'id': expense.id}) }}" method="POST">
                                        <button
                                                class="inline-block rounded bg-red-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}