{% extends 'base.html.twig' %}


{% block title %}Dashboard | {{ parent() }}{% endblock %}

{% block body %}
    <nav class="bg-blue-500 p-4 flex items-center justify-between">
        <div>
            <h1 class="text-white text-xl font-semibold">EXPENNY</h1>
        </div>
        <div class="flex items-center space-x-4">
            <div class="flex justify-center">
                <div  x-data="{ open: false }" class="relative inline-block">
                    <!-- Dropdown toggle button -->
                    <i x-on:click="open = ! open" class="fas fa-user-circle text-white text-2xl"></i>

                    <!-- Dropdown menu -->
                    <div x-cloak x-show="open" class="absolute right-0 z-20 w-56 py-2 mt-2 overflow-hidden bg-white rounded-md shadow-xl dark:bg-gray-800">
                        <a href="#" class="flex items-center p-3 -mt-2 text-sm text-gray-600 transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                            <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9" src="https://images.unsplash.com/photo-1523779917675-b6ed3a42a561?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8d29tYW4lMjBibHVlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=face&w=500&q=200" alt="jane avatar">
                            <div class="mx-1">
                                <h1 class="text-sm font-semibold text-gray-700 dark:text-gray-200">{{ app.user.firstName }} {{ app.user.lastName }}</h1>
                                <p class="text-sm text-gray-500 dark:text-gray-400">{{ app.user.email }}</p>
                            </div>
                        </a>

                        <hr class="border-gray-200 dark:border-gray-700 ">

                        <a href="{{ path('profile') }}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                            view profile
                        </a>

                        <a href="#" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                            Settings
                        </a>

                        <a href="{{ path('logout') }}" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-200 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                            Sign Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="flex">
        <aside class="bg-gray-800 text-white w-64 min-h-screen p-4">
            <nav>
                <ul class="space-y-2">
                    <li class="">
                        <div class="flex items-center justify-between p-2 hover:bg-gray-700 {{ app.request.get('_route') == 'dashboard' ? 'bg-gray-700' }}">
                            <div class="flex items-center">
                                <a href="{{ path('dashboard') }}">
                                    <span>Dashboard</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="">
                        <div class="flex items-center justify-between p-2 hover:bg-gray-700 {{ app.request.get('_route') == 'all_expense' ? 'bg-gray-700' }}">
                            <div class="flex items-center">
                                <a href="{{ path('all_expense') }}">
                                    <span>Expenses</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </aside>

        <main class="container mx-auto p-4">
            {% block main %}{% endblock %}
        </main>
    </div>

{% endblock %}